<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="{{site.desc}}">
        <meta name="keywords" content="">
        <meta name="author" content="{{site.author}}">
        <title>{{site.title}} Coming Soon</title>
        <link rel="icon" type="image/png" href="http://traivan98.xyz/atom-preview/image-style/images/favicon.http://traivan98.xyz/atom-preview/image-style/png" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="css/animate.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="css/magnific-popup.css" media="all" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="css/theme.css" media="all" />
        <link rel="stylesheet" type="text/css" href="css/responsive.css" media="all" />
        <link rel="stylesheet" type="text/css" href="css/theme-style/dark.css" media="all" />
        <link rel="stylesheet" type="text/css" href="css/theme-style/android.css" media="all" data-os-style/>
        <link rel="stylesheet" type="text/css" href="css/theme-content-color/red.css" media="all" data-content-color/>
        <link rel="stylesheet" type="text/css" href="css/extra.css" media="all" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <!-- ===============    Start template markup     =============== -->

        <!-- preloader -->
        <div id="atom-preloader">
            <div class="atom-preloader-circle"></div>
        </div>
        <!--/ preloader -->

        <!-- content preloader -->
        <div id="content-preloader">
        </div>
        <!--/ content preloader -->