
        <!-- header -->
        <header class="atom-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="nav-row">
                            <a class="toggle-bar" href="#">
                                <span class="bars"></span>
                            </a>
                            <ul class="atom-menu list-inline">
                                <li class="active"><a href="#atom-home">Home</a></li>
                                {{for section in sections}}
                                <li><a href="#atom-{page.href}">{{page.title}}</a></li>
                                {{endfor}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--/ header -->

